<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <a href="https://www.linkedin.com/in/navi23/">My Linkedin Profile</a>
    </div>
    
    {{>footer}}
</body>

</html>