<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Created this web-app to learn node.js, using third-party API call, and other cool stuffs.</p>
        <p>It uses data from mapbox.com and weatherapi.com </p>
        <img class="portrait" src="/img/me.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>